* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    margin: 30px 20px;
}

/* img{
    width: 236px;
    margin-bottom: 1em;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */


.list {
    columns: 236px;
    column-gap: 1em; /* space between columns */
}

img {
    width: 100%; /* fill the column */
    border-radius: 30px;
    margin-bottom: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    object-fit: cover;
}

img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}




